<div>
  <div class="image">
    <img src="assets/djangovsruby.jpeg" alt="software" class="main-imagen" />
  </div>
  <div class="row">
    <div class="col-sm-12 edicion">
      <h1>Django y Ruby en Linux Server</h1>

      <h1>Guia de Configuracion de Django y Ruby en Windows Server</h1>

      <p>
        Para poder realizar esto primero tenemos que configurar usuarios y
        grupos.
      </p>

      <div>
        <img src="assets/win-logo.jpg" alt="" class="logo" />
      </div>

      <p>
        Una vez teniendo los grupos y los usuarios debemos descargar ruby para
        windows y marcamos la casilla siguiente
      </p>

      <div>
        <img src="assets/ws-ruby1.jpg" alt="software" class="image-cont" />

        <p>
          Abrimos una terminal y revisamos la version de ruby para saber si esta
          correctamente instalado
        </p>
        <div>
          <img src="assets/ws-ruby2.jpg" alt="software" class="image-cont" />
        </div>
        <div>
          <p>
            Ahora revisamos la version de GEM de la misma forma
          </p>
          <div>
            <img src="assets/ws-ruby3.jpg" alt="software" class="image-cont" />
          </div>
          <p>
            De ser necesario podemos actualizar a la ultima version de GEM para
            no tener ningun problema
          </p>
          <div>
            <img src="assets/ws-ruby4.jpg" alt="software" class="image-cont" />
          </div>
          <p>
            Ahora intalamos RAIL mediante GEM de la siguiente forma
          </p>
          <div>
            <img src="assets/ws-ruby5.jpg" alt="software" class="image-cont" />
          </div>
          <p>
            Descargamos el devkit de Ruby y lo ejecutamos
          </p>
          <div>
            <img src="assets/ws-ruby6.jpg" alt="software" class="image-cont" />
          </div>
          <p>
            Ahora configuramos Ruby de la siguiente forma
          </p>
          <div>
            <img src="assets/ws-ruby7.jpg" alt="software" class="image-cont" />
          </div>
          <p>
            Ejecutamos un webrick server donde levantaremos nuestra aplicacion
          </p>
          <div>
            <img src="assets/ws-ruby8.jpg" alt="software" class="image-cont" />
          </div>
          <p>
            De esta forma ya podemos crear nuestra aplicacion con ruby
          </p>
          <div>
            <img src="assets/ws-ruby9.jpg" alt="software" class="image-cont" />
          </div>
          <p>
            Y con eso terminamos la configuracion de Ruby en windows Server
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
