<div>
  <div class="image">
    <img src="assets/linux.jpg" alt="software" class="main-imagen" />
  </div>
  <div class="row">
    <div class="col-sm-12 edicion">
      <h1>Linux Server</h1>
      <p>
        Aunque si queremos podemos utilizar una distribución Linux de escritorio
        para nuestro servidor (como Ubuntu), las distribuciones Linux para
        servidor son algo diferentes a las distros de escritorio. Por ejemplo,
        las versiones de servidor suelen ser mucho más reducidas que las
        versiones de escritorio para que cada administrador pueda
        personalizarlas a su gusto, no suelen tener interfaz gráfica por defecto
        para ahorrar recursos y cuentan con optimizaciones y funciones diseñadas
        para ofrecer el máximo rendimiento, la mayor estabilidad y la mejor
        seguridad posible. En la red existen una gran cantidad de distribuciones
        Linux para servidor de manera que cada usuario pueda elegir la que mejor
        se adapte a sus necesidades según la función que vaya a desempeñar el
        servidor. A continuación, vamos a ver los sistemas más adecuados que
        podemos usar, tanto para montar un pequeño servidor (como un NAS) en
        nuestra casa como para un gran servidor en una empresa o la nube.
      </p>
      <h1>Caracteristicas Principales</h1>
      <ul>
        <li>
          CGI scripts
        </li>
        <li>
          Registro de errores personalizado
        </li>
        <li>
          Creación automática de dominios de 3er nivel
        </li>
        <li>
          Instrucciones detalladas
        </li>
        <li>
          Multitarea
        </li>
        <li>
          Compatibilidad : Cuando tocamos este tema, siempre pasa lo mismo, la
          gente desconfia. Nopuedo ejecutar mi aplicación favorita XXXX para
          Windows 95, etc. Ten en cuenta que tampocoalguien que utiliza MAC, ni
          con IRIX, etc
        </li>
        <li>
          Soporte : Las empresas que venden cd's de Linux como Mandrake, SUSE, o
          RedHat ofrecensoporte tècnico, y existen miles de personas que te
          ayudarán a solucionar cualquier problemaque tengas con Linux en foros,
          blogs y listas de correo. No dudes de unirte a las listas
          dedistribución que hay en Internet, no solo aprenderás, podrás ayudar
          a otros en los problemasque tengan.
        </li>
      </ul>

      <h1>Guia de Instalacion de Linux Server</h1>

      <p>
        Para poder utilizar Linux en modo servidor necesitamos tener una
        disitrbucion de linux previamente instalado, una vez que la tengamos
        pasamos a la configuracion
      </p>

      <div>
        <img src="assets/linux-logo.jpg" alt="" class="logo" />
      </div>

      <p>
        Ahora comenzaremos con la configuracion de nuestro servidor, para ello
        crearemos grupos nuevos, los cuales se crean con el siguiente comando
        "sudo groupadd nombre_del_grupo"
      </p>

      <div>
        <img src="assets/linux-server1.png" alt="software" class="image-cont" />

        <p>
          Para crear usuarios nuevos se hace de la siguiente manera "sudo
          useradd nombre_usuario"
        </p>
        <div>
          <img
            src="assets/linux-server2.png"
            alt="software"
            class="image-cont"
          />
        </div>
        <div>
          <p>
            Para unir los usurios a los grupos se hace de esta manera "sudo
            usermod -a -G nombre_grupo nombre_usuario"
          </p>
          <div>
            <img
              src="assets/linux-server3.png"
              alt="software"
              class="image-cont"
            />
          </div>
          <p>
            Despues vemos todos los usuarios
          </p>
          <div>
            <img
              src="assets/linux-server4.png"
              alt="software"
              class="image-cont"
            />
          </div>
          <p>
            Aqui vemos todos los grupos con sus respectivos usuarios
          </p>
          <div>
            <img
              src="assets/linux-server5.png"
              alt="software"
              class="image-cont"
            />
          </div>
          <p>
            Y con eso configuramos grupos y usuarios en nuestro sistema linux
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
