<div>
  <div class="image">
    <img src="assets/linux.jpg" alt="software" class="main-imagen" />
  </div>

  <div class="row">
    <div class="col-sm-12 edicion">
      <h1>LINUX - UBUNTU 18.04</h1>

      <p>
        Ubuntu es un sistema operativo de código abierto y libre para
        computadores. Es una distribución de Linux basada en Debian. Actualmente
        corre en computadores de escritorio y servidores. Está orientado al
        usuario promedio, con un fuerte enfoque en la facilidad de uso y en
        mejorar la experiencia del usuario. Está compuesto de múltiple software
        normalmente distribuido bajo una licencia libre o de código abierto.
        Estadísticas web sugieren que la cuota de mercado de Ubuntu dentro de
        las distribuciones Linux es, aproximadamente, del 52 %,3​4​ y con una
        tendencia a aumentar como servidor web.5
      </p>

      <h1>Caracteristicas Principales</h1>

      <ul>
        <li>
          1. Escritorio de GNOME 3.28 En caso de que no haya probado Ubuntu
          17.10 Artful Aardvark, 18.04 LTS va a ser una experiencia
          completamente nueva para usted. Con 17.10, Canonical ya ha hecho un
          cambio al escritorio GNOME como predeterminado con algunos ajustes.
          Entonces, para los usuarios de LTS existentes, las cosas van a ser
          bastante nuevas. Acerca de la versión de GNOME, podemos esperar que
          GNOME 3.28 se envíe con 18.04.
        </li>
        <li>
          2. Kernel 4.15 “Cada 6 meses, el equipo Kernel de Ubuntu tiene la
          tarea de elegir el kernel para usar en la próxima versión. Nos fijamos
          en el calendario de lanzamientos de Ubuntu y cómo se alineará con las
          versiones de kernel en sentido ascendente “, escribió el equipo Kernel
          de Ubuntu en una publicación reciente. El equipo espera que Linux
          kernel 4.15 alimente Ubuntu 18.04. Algunas de las características
          notables de Kernel 4.15 son:
          <p>
            -Soporte de encriptación de memoria segura
          </p>
          <p>
            -AMD Mejor administración de energía Controlador de CPU para la
            interfaz cgroup v2
          </p>
          <p>
            -Mejor soporte para hardware antiguo y nuevo
          </p>
          <p>
            -Últimos controladores y correcciones
          </p>
        </li>
        <li>
          3. Nuevo tema de escritorio e icono (Pospuesto a la próxima versión)
          Actualización: este cambio se ha pospuesto a 18.10 versión. Aunque
          Ubuntu 17.10 ha sido sometido a una revisión con el escritorio de
          GNOME, su apariencia todavía se parece mucho a las versiones
          anteriores de Ubuntu. En base a los comentarios generales de la
          comunidad, el equipo busca incluir un nuevo tema de escritorio y de
          icono para la versión 18.04.
        </li>
        <li>
          4. Xorg por defecto Con vencimiento en abril de 2018, el próximo
          lanzamiento de LTS vendrá con gráficos tradicionales de Xorg y nueva
          pila basada en Wayland. Sin embargo, Xorg será el predeterminado. El
          equipo de desarrollo de Ubuntu ha enumerado diferentes motivos para
          esta elección, incluido un mejor rendimiento de software como
          Hangouts, Skype y servicios WebRTC en Xorg. También se recupera mejor
          de los accidentes de Shell. Para Ubuntu 18.10, el equipo volverá a
          evaluar Wayland como el valor predeterminado.
        </li>
        <li>
          Opción de instalación mínima Junto con la próxima versión de Ubuntu
          18.04 LTS, los usuarios podrán realizar una instalación ligera de
          Ubuntu . Esta opción eliminará muchos paquetes de software y obtendrá
          un sistema con un entorno de escritorio, navegador web, herramientas
          del sistema central y mucho más. Esta opción aparecerá en el
          instalador de Ubuntu. Tenga en cuenta que no es un reemplazo de Ubuntu
          Minimal ISO preexistente.
        </li>
        <li>
          6. Ubuntu recogerá algunos datos Según un reciente anuncio hecho en la
          lista de correo de Ubuntu, Canonical comenzará a recopilar algunos
          datos del usuario relacionados con la configuración del sistema y
          paquetes instalados en la máquina. A partir de Ubuntu 18.04 LTS, esta
          opción de exclusión se proporcionará en el instalador. Lea sobre esta
          característica esperada en detalle aquí.
        </li>
        <li>
          7. Nuevo instalador para Ubuntu Server Con Ubuntu 18.04, Canonical
          finalmente actualizará el instalador de línea de comando del Servidor
          Ubuntu. El nuevo instalador llamado Subiquity será el predeterminado
          en la próxima versión de LTS. Este cambio le dará un nuevo aspecto al
          proceso de instalación del servidor, que hasta ahora había sido el
          instalador basado en texto de Debian.
        </li>
        <li>
          8. Soporte para emojis de color Sí, coloridos emojis finalmente están
          llegando al escritorio de Ubuntu. Esta nueva característica le
          permitirá mostrar emoji de color en diferentes aplicaciones. A pesar
          de que muchos entusiastas fanáticos de Linux negarán que se trata de
          un desarrollo que merezca mucha atención, los emojis son importantes
          en los mensajes y las comunicaciones actuales. Por lo tanto, poder ver
          emojis en su colorido atuendo es agradable.
        </li>
        <li>
          9. Tiempo de arranque más rápido Canonical también está trabajando
          para acelerar el tiempo de arranque de Ubuntu mediante el uso de las
          características de systemd. Este es un cambio emocionante y será
          interesante ver lo que el equipo de escritorio logra lograr en esta
          área.
        </li>
        <li>
          10. Soporte para el algoritmo de compresión zstd Con el algoritmo de
          compresión zstd de Facebook, ahora puede esperar una velocidad de
          instalación de Ubuntu más rápida de aproximadamente 10% con 18.04.
        </li>
        <li>
          11. OpenJDK 10 La versión de Ubuntu 18.04 viene con OpenJDK 10 como
          predeterminado. Después de que OpenJDK 11 se envíe a finales de este
          año en septiembre, será el predeterminado.
        </li>
        <li>
          12. Cambios de red y mejoras Los principales cambios relacionados con
          la configuración de red en Ubuntu 18.04 son:
          <p>
            systemd-resolved es la resolución DNS predeterminada
          </p>
          <p>
            NetworkManager viene con soporte de equipo con libteam
          </p>
          <p>
            Ifupdown depcrecated; netplan.io agregado
          </p>
          <p>
            Comando networkctl disponible para ver el resumen del dispositivo de
            red
          </p>
        </li>
        <li>
          13. Nuevos fondos de pantalla No hace falta decir que Ubuntu 18.04
          viene con hermosos fondos de pantalla nuevos que han sido aportados
          por la comunidad a través del concurso Ubuntu 18.04 LTS Free Cultural
          Showcase.
        </li>
        <img src="assets/linux-menu.jpg" alt="" />
      </ul>
      <h1>Como instalar Ubuntu 18.04 en tu equipo</h1>
      <h2>Requisitos:</h2>
      <ul>
        <li>Un puerto USB disponible o libre en tu ordenador</li>
        <li>
          Un USB de al menos 4 GB
        </li>
        <li>Imagen de Ubuntu 18.04</li>
        <li>Descargar Rufus, version portable o instalable</li>
      </ul>
      <h1>Pasos a seguir</h1>
      <h3>Paso 1: Crear memoria booteable con imagen de Linux Ubuntu 18.04</h3>
      <ul>
        <li>
          Conecta tu USB al ordenador y asegúrate de respaldar cualquier archivo
          importante en él antes de continuar, puesto que este proceso borrará
          todos los datos que contenga.
        </li>
        <li>
          Ejecuta Rufus (se recomienda descargar la version portable,
          <a
            href="https://github.com/pbatard/rufus/releases/download/v3.8/rufus-3.8p.exe"
            >click aqui para descargar</a
          >)
        </li>
        <li>
          Una vez descargado lo ejecutamos y nos mostrara esta ventana
        </li>
        <img src="assets/rufus-1.jpg" alt="" />
        <li>
          Seleccionamos nuestra memoria USB en la lista que aparece arriba
        </li>
        <li>
          Damos click en el boton de Seleccionar donde se nos abrira un
          seleccionador de archivos, elegiremos la imagen iso del sistema
          operativo que vamos a bootear
        </li>

        <li>
          Si se desea cambiar el nombre al dispositivo, se lo pondremos donde
          dice etiqueta de volumen
        </li>
        <li>
          El Esquema de Particion tiene que estar en MBR para que al momento de
          bootear desde la bios detecte la memoria como un sistema UEFI, si no
          no se ejecutara por proteccion al sistema de la bios
        </li>
        <li>
          Le daremos click a Empezar para que comience el formateo y
          configuracion de la memoria USB y solo esperamos a que el proceso
          termine
        </li>
        <img src="assets/rufus-2.jpg" alt="" />
        <img src="assets/rufus-3.jpg" alt="" />
      </ul>

      <h1>Paso 2: Ejecutar Memoria desde la Bios del Equipo</h1>
      <ul>
        <li>
          Para eso Reiniciaremos el equipo y presionaremos la tecla
          correspondiente para arrancar la bios (generalmente las teclas son F2
          F10 o F12)
        </li>
        <img src="assets/boot.jpg" alt="" class="imagen" />
        <li>
          Nos aparacera una pantalla similar a esta, simplemente seleccionamos
          nuestra memoria usb y le damos Enter
        </li>
        <img src="assets/Linux (2).jpg" alt="" class="imagen" />
        <li>
          Aparecera la pantalla morada con el simbolo de Ubuntu y eso significa
          que empezo a cargar el paquete de instalacion
        </li>
        <img src="assets/Linux (3).jpg" alt="" class="imagen" />
        <li>
          Luego nos mostrara esta ventana donde nos pedira que seleccionemos el
          idioma del equipo.
        </li>
        <img src="assets/Linux (4).jpg" alt="" class="imagen" />
        <img src="assets/Linux (5).jpg" alt="" class="imagen" />

        <li>
          Despues nos pedira que selecciones la distribucion de teclado que
          tenemos o que deseamos utilizar
        </li>

        <img src="assets/Linux (6).jpg" alt="" class="imagen" />
        <li>
          Posteriormente nos conectaremos a una red de internet para continuar
          la configuracion o podemos brincarnos este paso si se desea
        </li>

        <img src="assets/Linux (7).jpg" alt="" class="imagen" />
        <li>
          Ahora nos da a escoger entre dos opciones de instalacion, para hacerlo
          de la manera mas adecuada, seleccionaremos la normal done instalara
          todo los paquetes necesarios y actualizaciones
        </li>

        <img src="assets/Linux (8).jpg" alt="" class="imagen" />
        <li>
          Si contamos con otro sistema operativo instalado en nuestro disco
          duro, nos preguntara si queremos instalar Ubuntu junto al otro sistema
          o si deseamos borrar todo el disco para dejar solo el sistema de Linux
          instalado, en este caso seleccionamos la opcion de instalarlo junto a
          Windows
        </li>
        <img src="assets/Linux (9).jpg" alt="" class="imagen" />

        <li>
          Seleccionamos la unidad que deseamos utilizar para la instalacion del
          sistema, una vez que sepamos cual unidad utilizaremos, tenemos que
          seleccionar el tipo de formato que llevara en este caso seleccionamos
          ext4, y lo seleccionamos como raiz, es la opcion que señala una
          diagonal "/"
        </li>

        <img src="assets/Linux (10).jpg" alt="" class="imagen" />
        <li>
          Y le damos en Formatear para obtener el formato adecuado para la
          instalacion del sistema y una vez formateado le damos instalar ahora,
          donde nos lanzara una advertencia de si estamos seguros de la
          configuracion escrita, le damos que si
        </li>

        <img src="assets/Linux (11).jpg" alt="" class="imagen" />
        <li>
          Casi para terminar nos pedira que seleccionesmos la region o lugar
          donde nos encontramos
        </li>
        <img src="assets/Linux (12).jpg" alt="" class="imagen" />

        <li>
          Como ultimo paso ingresaremos los datos del equipo, como nombre del
          equipo, nombre de la cuenta, y alguna contraseña de acceso
        </li>
        <img src="assets/Linux (13).jpg" alt="" class="imagen" />
        <li>
          Finalmente comenzara la instalacion de Ubuntu, copiara archivos,
          extraera y empezara a actualizar recursos necesarios para comenzar con
          su uso, esto tomara unos cuantos minutos y una vwez finalizado se
          reiniciara la computadora, solo hay que dejar que cargue el sistema
          operativo y comenzaremos con la configuracion
        </li>

        <img src="assets/Linux (14).jpg" alt="" class="imagen" />
        <li>
          Una vez terminado nos pedira que reiniciemos la computadora para que
          podamos ejecutar el sistema operativo
        </li>
        <img src="assets/Linux (15).jpg" alt="" class="imagen" />
        <li>
          Cuando reiniciemos nos saldra el GRUB o el sistema de seleccion de
          sistema operativo por el cual queremos que inicie, en nuestro caso
          iniciaremos con ubuntu
        </li>

        <img src="assets/Linux (16).jpg" alt="" class="imagen" />

        <li>Y listo, ya tienes Linux Ubuntu 18.04 configurado en tu equipo</li>
      </ul>
    </div>
  </div>
</div>
