<div>
  <div class="image">
    <img src="assets/wslogo.jpg" alt="software" class="main-imagen" />
  </div>
  <div class="row">
    <div class="col-sm-12 edicion">
      <h1>Windows Server Gestion de Usuarios y Grupos</h1>
      <p>
        Windows Server 2019 es el más reciente sistema operativo producido por
        Microsoft para su familia de servidores. Microsoft lo anunció el 20 de
        marzo de 2018, y la primera vista previa Windows Insider fue lanzada el
        mismo día. Se lanzó comercialmente el 2 de octubre de 2018.1​ Al igual
        que su predecesor,2​ Windows Server 2019 tiene solo dos versiones:
        Standard y Datacenter, siendo este último el que ofrece mayores
        prestaciones como SMB Direct o características que no están disponibles
        en Windows Server 2019 Standard3​ y Storage Spaces Direct,4​ y también
        un mayor soporte a máquinas virtuales con Hyper-V, que está disponible
        en las dos versiones. El instalador ofrece la posibilidad de instalar en
        modo Core (interfaz de usuario mínima) para administración remota, o
        Experiencia de escritorio (interfaz de usuario completa) para
        administración local.
      </p>
      <h1>Caracteristicas Principales</h1>
      <ul>
        <li>
          Windows Subsystem for Linux (WSL)
        </li>
        <li>
          Soporte para Kubernetes (Beta)
        </li>
        <li>
          Otras características de interfaz nuevas introducidas en Windows 10,
          versión 1809.
        </li>
        <li>
          Storage Spaces Direct (Únicamente en edición Datacenter)
        </li>
        <li>
          SMB Direct (Únicamente en edición Datacenter)
        </li>
        <li>
          Storage Migration Service
        </li>
        <li>
          Storage Replica
        </li>
        <li>
          System Insights
        </li>
        <li>
          Mejoras en Windows Defender
        </li>
      </ul>

      <h1>Guia de Creacion de Usuarios</h1>

      <p>
        El uso de distintas cuentas de usuario es altamente recomendable en
        Windows, se utilizan para aumentar la privacidad, mejorar la seguridad y
        permitir la personalización.
      </p>

      <div>
        <img src="assets/win-logo.jpg" alt="" class="logo" />
      </div>

      <p>
        El primer paso es acceder a la herramienta de Administrador del
        servidor, puedes hacerlo desde el menú de Inicio.
      </p>
      <div>
        <img src="assets/user-ws(1).png" alt="software" class="image-cont" />
      </div>
      <p>
        Desde el Administrador del servidor podemos abrir la herramienta de
        Administración de equipos, para ello nos dirigimos al menu Herramientas
        -> Administración de Equipos.
      </p>

      <div>
        <img src="assets/user-ws(2).png" alt="software" class="image-cont" />
      </div>
      <p>
        En la ventana de Administración de equipos puedes agregar nuevos
        usuarios desde Administración del equipo -> Usuarios y grupos locales ->
        Usuarios. Pulsando el botón derecho te aparece la opción de Usuario
        nuevo.
      </p>
      <div>
        <img src="assets/user-ws(3).png" alt="software" class="image-cont" />
      </div>

      <p>
        El formulario para crear usuarios es muy intuitivo, simplemnte rellena
        los datos y presta atención a las opciones de la parte inferior del
        formulario, para que el comportamiento del usuario se ajuste a tus
        necesidades.
      </p>
      <div>
        <img src="assets/user-ws(4).png" alt="software" class="image-cont" />
      </div>
      <p>
        El proceso de creación de grupos es similar, con la salvedad de que
        puedes añadir usuarios a los grupos. Para ello simplemente escribe el
        nombre del usuario en el area de texto y pulsa el botón Comprobar
        nombres para que se valide. Puedes añadir tantos usuarios como
        necesites.
      </p>

      <div>
        <img src="assets/user-ws(5).png" alt="software" class="image-cont" />
      </div>
    </div>
  </div>
</div>
