<div>
  <div class="image">
    <img src="assets/libre-office.jpg" alt="software" class="main-imagen" />
  </div>

  <div class="row">
    <div class="col-sm-12 edicion">
      <h1>Free Office - Libre Office</h1>

      <p>
        LibreOffice es un Software Libre de ofimática el cual incluye procesador
        de texto, planilla de cálculo y editor de presentaciones entre otras. Es
        impulsado y desarrollado por la misma comunidad, bajo un proyecto de la
        organización sin fines de lucro, llamada The Document Foundation.
        07/08/2015 Noticias Software Actualizado el: 10/08/2015 LibreOffice
        nació como un desprendimiento de OpenOffice y es desarrollado por
        usuarios compartiendo su trabajo con el mundo de manera no restrictiva.
        Recientemente se liberó la nueva versión 5 de LibreOffice. Esta nueva
        versión incluye opciones de compatibilidad con Windows 10 y entornos de
        64 bits, ojo, no solo es compatible con Windows, también es compatible
        con plataformas Linux y OS X. La nueva versión tiene una nueva interfaz
        de usuario, que según sus creadores, permite una vista más limpia y un
        mejor aprovechamiento de la pantalla. Se puede destacar que también a
        mejorado su compatibilidad con Microsoft Office y con Apple iWork. Posee
        alrededor de 80 millones de usuarios, en esta versión han logrado mayor
        estabilidad y prestaciones. Esta misma base, se utilizará para la
        versión Android, que por el momento, es sólo visor de archivos pero que
        incorporará la posibilidad de editar documentos en el corto plazo.
        También avanza, el desarrollo de una versión basada en la Web al estilo
        de lo que ofrecen Google y Microsoft.
      </p>

      <h1>Free Office Windows</h1>
      <div>
        <img src="assets/win-logo.jpg" alt="" class="logo" />
      </div>

      <p>
        Para ver poder instalar libre office, debemos abrir nuestro navegador y
        buscamos LibreOffice en nuestro servicio de busqueda preferida, ya sea
        Google, Yahoo, Bing, etc, yo les proporciono el link aqui:

        <a href="https://es.libreoffice.org" target="blank">Libre Office</a>
      </p>
      <div>
        <img src="assets/windows-free-office (1).jpg" alt="software" />
      </div>
      <p>
        En esta pantalla podremos ver lass descripcion del programa, y
        simplemente le damos a la pestaña de descarga
      </p>

      <div>
        <img src="assets/windows-free-office (2).jpg" alt="software" />
      </div>
      <p>
        Seleccionamos la version del sistema operativo que tenemos, ya sea de 64
        o 32 bits, y le damos en descargar
      </p>
      <div>
        <img src="assets/windows-free-office (3).jpg" alt="software" />
      </div>
      <p>
        Una vez descargado, le damos doble clic al archivo y nos saldra una
        ventana de instalacion como esta, le damos siguiente
      </p>
      <div>
        <img src="assets/windows-free-office (4).jpg" alt="software" />
      </div>
      <p>
        Aqui seleccionamos la opcion de instalacion tipica para que le
        instalador haga la configuracion por nosotros y le damos siguiente y
        comenzara la instalacion del programa
      </p>
      <div>
        <img src="assets/windows-free-office (5).jpg" alt="software" />
      </div>
      <p>
        Una vez terminado la instalacion nos aparecera en nuestro escritorio el
        icono del programa, simplemente le damos doble click y podemos comenzar
        a trabajar en este
      </p>
      <div>
        <img src="assets/windows-free-office (1).png" alt="software" />
      </div>
      <h1>Servicios de Linux</h1>

      <div>
        <img src="assets/linux-logo.jpg" alt="software" />
      </div>

      <p>
        Para instalar libre office en linux usaremos la mas sencilla: los
        sistemas linux mas comunes cuentan con un gestor de aplicaciones o un
        tienda tambien llamada asi la cual cuenta con muchas aplicaciones que
        podemos instalar directamente sin meternos en consola, simplemente la
        abrimos
      </p>
      <div>
        <img src="assets/linux-free-office (2).png" alt="software" />

        <p>
          En donde se encuentre la opcion de busqueda, insertamos el nombre de
          "Libre Office" y nos aparecera la opcion adecuada, la unica diferencia
          es que aqui nos aparecen de manera individual asi que instalaremos de
          uno a uno los servicios de libre office
        </p>
        <div>
          <img src="assets/linux-free-office (3).png" alt="software" />
        </div>
        <p>
          Seleccionamos la prrimera que en mi caso la que falta es el de la hoja
          de calculalo, y simplemente le damos en instalar, automaticamente
          comenzara con la instalacion del sistema
        </p>
        <div>
          <img src="assets/linux-free-office (4).png" alt="software" />
        </div>
        <p>
          Comenzara a instalar el paquete
        </p>
        <div>
          <img src="assets/linux-free-office (5).png" alt="software" />
        </div>
        <p>
          Una vez terminado de instlar, nos aparecera la opcion de lanzar o
          ejecutar, simplemente le damos click y se nos abrira la hoja de
          calculo
        </p>
        <div>
          <img src="assets/linux-free-office (6).png" alt="software" />
        </div>
        <p>
          Aqui podemos ver la hoja de calculo funcionando y listo¡ es tan
          sencillo como eso, ahora solo resta instalar el resto y tendras libre
          office instalado en tu sistema
        </p>
        <div>
          <img src="assets/linux-free-office (1).png" alt="software" />
        </div>
      </div>
    </div>
  </div>
</div>
