<div>
  <div class="image">
    <img
      src="../../../assets/desarrollo-software.jpg"
      alt="software"
      class="imagen"
    />
  </div>

  <div class="row">
    <div class="col-sm-4 edit">
      <h3>Sistemas Operativos</h3>
      <app-images></app-images>
    </div>
    <div class="col-sm-4 edit">
      <h3>Software Variado</h3>

      <app-images></app-images>
    </div>
    <div class="col-sm-4 edit">
      <h3>Servidores</h3>

      <app-images></app-images>
    </div>
  </div>
</div>
