<div>
  <div class="image">
    <img src="assets/fjango-logo.png" alt="software" class="main-imagen" />
  </div>

  <div class="row">
    <div class="col-sm-12 edicion">
      <h1>Django</h1>
      <p>
        Django es un framework de desarrollo web de código abierto, escrito en
        Python, que respeta el patrón de diseño conocido como
        Modelo–vista–template. Fue desarrollado en origen para gestionar varias
        páginas orientadas a noticias de la World Company de Lawrence, Kansas, y
        fue liberada al público bajo una licencia BSD en julio de 2005; el
        framework fue nombrado en alusión al guitarrista de jazz gitano Django
        Reinhardt. En junio de 2008 fue anunciado que la recién formada Django
        Software Foundation se haría cargo de Django en el futuro. La meta
        fundamental de Django es facilitar la creación de sitios web complejos.
        Django pone énfasis en el re-uso, la conectividad y extensibilidad de
        componentes, el desarrollo rápido y el principio No te repitas (DRY, del
        inglés Don't Repeat Yourself). Python es usado en todas las partes del
        framework, incluso en configuraciones, archivos, y en los modelos de
        datos.
      </p>
      <h1>Caracteristicas Principales</h1>
      Al igual que Ruby on Rails, otro popular framework de código abierto,
      Django se usó en producción durante un tiempo antes de que se liberara al
      público; fue desarrollado por Adrian Holovaty, Simon Willison, Jacob
      Kaplan-Moss y Wilson Miner mientras trabajaban en World Online, y
      originalmente se utilizó para administrar tres sitios web de noticias: The
      Lawrence Journal-World, lawrence.com y KUsports.com. Los orígenes de
      Django en la administración de páginas de noticias son evidentes en su
      diseño, ya que proporciona una serie de características que facilitan el
      desarrollo rápido de páginas orientadas a contenidos. Por ejemplo, en
      lugar de requerir que los desarrolladores escriban controladores y vistas
      para las áreas de administración de la página, Django proporciona una
      aplicación incorporada para administrar los contenidos, que puede
      incluirse como parte de cualquier página hecha con Django y que puede
      administrar varias páginas a partir de una misma instalación; la
      aplicación administrativa permite la creación, actualización y eliminación
      de objetos de contenido, llevando un registro de todas las acciones
      realizadas sobre cada uno, y proporciona una interfaz para administrar los
      usuarios y los grupos de usuarios (incluyendo una asignación detallada de
      permisos). La distribución principal de Django también aglutina
      aplicaciones que proporcionan un sistema de comentarios, herramientas para
      sindicar contenido via RSS y/o Atom, "páginas planas" que permiten
      gestionar páginas de contenido sin necesidad de escribir controladores o
      vistas para esas páginas, y un sistema de redirección de URLs. Otras
      características de Django son:
      <li>Un mapeador objeto-relacional.</li>
      <li>
        Aplicaciones "enchufables" que pueden instalarse en cualquier página
        gestionada con Django.
      </li>
      <li>Una API de base de datos robusta.</li>
      <li>
        Un sistema incorporado de "vistas genéricas" que ahorra tener que
        escribir la lógica de ciertas tareas comunes.
      </li>
      <li>
        Un sistema extensible de plantillas basado en etiquetas, con herencia de
        plantillas.
      </li>
      <li>
        Un despachador de URLs basado en expresiones regulares.
      </li>
      <li>
        Un sistema "middleware" para desarrollar características adicionales;
        por ejemplo, la distribución principal de Django incluye componentes
        middleware que proporcionan cacheo, compresión de la salida,
        normalización de URLs, protección CSRF y soporte de sesiones.
      </li>
      <li>
        Soporte de internacionalización, incluyendo traducciones incorporadas de
        la interfaz de administración.
      </li>
      <li></li>
      <li>
        Documentación incorporada accesible a través de la aplicación
        administrativa (incluyendo documentación generada automáticamente de los
        modelos y las bibliotecas de plantillas añadidas por las aplicaciones).
      </li>
      Django también es una plataforma habitual que brinda multiples
      herramientas
      <h1>Django Windows</h1>
      <div>
        <img src="assets/win-logo.jpg" alt="" class="logo" />
      </div>

      <p>
        Para ver poder instalar Django, debemos abrir nuestro navegador y
        buscamos LibreOffice en nuestro servicio de busqueda preferida, ya sea
        Google, Yahoo, Bing, etc, yo les proporciono el link aqui:

        <a href="https://www.djangoproject.com" target="blank">Django</a>
      </p>
      <div>
        <img src="assets/django-linux (1).png" alt="software" />
      </div>
      <p>
        En esta pantalla podremos ver las descripcion del programa, y
        simplemente copiamos la parte que dice: python -m pip install Django
      </p>

      <div>
        <img src="assets/django-linux (2).png" alt="software" />
      </div>
      <p>
        Abrimos la consola de windows y pegamos el pip de arriba y comenzara la
        instalacion de Django
      </p>
      <div>
        <img src="assets/django-windows.png" alt="software" />
      </div>
      <p>
        Y listo django quedara instalado en tu sistema
      </p>

      <h1>Django en Linux</h1>

      <div>
        <img src="assets/django-linux (1).png" alt="software" />
      </div>

      <p>
        Para instalar Django en linux usaremos la forma mas sencilla: y de la
        misma forma que en windows abrimos la pagina de django
      </p>
      <div>
        <img src="assets/django-linux (2).png" alt="software" />

        <p>
          En esta pantalla podremos ver las descripcion del programa, y
          simplemente copiamos la parte que dice: pip3 install Django==2.2.5
        </p>
        <div>
          <img src="assets/django-linux (3).png" alt="software" />
        </div>
      <div>
        <p>
          Comprobamos si se instalo bien Django con el siguiente comando: python3 -m django --version
        </p>
        <div>
          <img src="assets/django-linux (4).png" alt="software" />
        </div>
        <p>
          Iniciamos un proyecto nuevo con el siguiente comando: django-admin startproject SSOR
        </p>
        <div>
          <img src="assets/django-linux (5).png" alt="software" />
        </div>
        <p>
          Una vez creado el proyecto simplemente accedemos a la carpeta del proyecto y ahora levantamos el servidor
        </p>
        <div>
          <img src="assets/django-linux (6).png" alt="software" />
        </div>
        <p>
          En esta pantalla podremos ver las descripcion del programa, y
          simplemente copiamos la parte que dice: pip3 install Django==2.2.5
        </p>
        <div>
          <img src="assets/django-linux (7).png" alt="software" />
        </div>
        <p>
          Listo ya podemos editar el codigo de nuestro proyecto Django
        </p>
      </div>
    </div>
  </div>
</div>
