<div>
  <div class="image">
    <img src="assets/ruby-logo.jpg" alt="software" class="main-imagen" />
  </div>
  <div class="row">
    <div class="col-sm-12 edicion">
      <h1>Ruby on Rails</h1>
      <p>
        Ruby es un lenguaje de programación interpretado, reflexivo y orientado
        a objetos, creado por el programador japonés Yukihiro "Matz" Matsumoto,
        quien comenzó a trabajar en Ruby en 1993, y lo presentó públicamente en
        1995. Combina una sintaxis inspirada en Python y Perl con
        características de programación orientada a objetos similares a
        Smalltalk. Comparte también funcionalidad con otros lenguajes de
        programación como Lisp, Lua, Dylan y CLU. Ruby es un lenguaje de
        programación interpretado en una sola pasada y su implementación oficial
        es distribuida bajo una licencia de software libre.
      </p>
      <h1>Caracteristicas Principales</h1>
      <ul>
        <li>
          Orientado a objetos
        </li>
        <li>
          Cuatro niveles de ámbito de variable: global, clase, instancia y
          local.
        </li>
        <li>
          Manejo de excepciones
        </li>
        <li>
          iteradores y clausuras o closures (pasando bloques de código)
        </li>
        <li>
          expresiones regulares nativas similares a las de Perl a nivel del
          lenguaje
        </li>
        <li>
          Posibilidad de redefinir los operadores (sobrecarga de operadores)
        </li>
        <li>
          recolección de basura automática
        </li>
        <li>
          Altamente portable
        </li>
        <li>
          Hilos de ejecución simultáneos en todas las plataformas usando hilos
          verdes, o no gestionados por el sistema operativo.
        </li>
        <li>
          Carga dinámica de DLL/bibliotecas compartidas en la mayoría de las
          plataformas
        </li>
        <li>
          Introspección, reflexión y metaprogramación
        </li>
        <li>
          Amplia librería estándar
        </li>
        <li>
          Soporta inyección de dependencias
        </li>
        <li>
          Soporta alteración de objetos en tiempo de ejecución
        </li>
        <li>
          continuaciones y generadores
        </li>
      </ul>

      <h1>Ruby Windows</h1>
      <div>
        <img src="assets/win-logo.jpg" alt="" class="logo" />
      </div>

      <p>
        Para ver poder instalar Ruby, debemos abrir nuestro navegador y buscamos
        Ruby en nuestro servicio de busqueda preferida, ya sea Google, Yahoo,
        Bing, etc, yo les proporciono el link aqui:

        <a href="https://rubyonrails.org" target="blank">Ruby on Rails</a>
      </p>
      <div>
        <img src="assets/ruby-win(1).jpg" alt="software" class="image-cont" />
      </div>
      <p>
        En esta pantalla podremos ver las descripcion del programa, y
        simplemente pasamos a la seccion de descarga
      </p>

      <div>
        <img src="assets/ruby-win(2).jpg" alt="software" class="image-cont" />
      </div>
      <p>
        Aqui veremos el comando que utilizaremos para instalarlo en nuestro
        sistema windows
      </p>
      <div>
        <img src="assets/ruby-win(3).jpg" alt="software" class="image-cont" />
      </div>

      <h1>Ruby en Linux</h1>
      <div>
        <img src="assets/linux-logo.jpg" alt="" class="logo" />
      </div>

      <p>
        Para ver poder instalar Ruby, debemos abrir nuestro navegador y buscamos
        Ruby en nuestro servicio de busqueda preferida, ya sea Google, Yahoo,
        Bing, etc, yo les proporciono el link aqui:

        <a href="https://rubyonrails.org" target="blank">Ruby on Rails</a>
      </p>
      <div>
        <img src="assets/ruby-win(1).jpg" alt="software" class="image-cont" />
      </div>
      <p>
        En esta pantalla podremos ver las descripcion del programa, y
        simplemente pasamos a la seccion de descarga
      </p>

      <div>
        <img src="assets/ruby-win(2).jpg" alt="software" class="image-cont" />
      </div>
      <p>
        Aqui veremos el comando que utilizaremos para instalarlo en nuestro
        sistema linux
      </p>

      <div>
        <img src="assets/ruby-lin(1).jpg" alt="software" class="image-cont" />

        <p>
          Usamos los comandos para instalar Ruby
        </p>
        <div>
          <img src="assets/ruby-lin(2).jpg" alt="software" class="image-cont" />
        </div>
        <div>
          <p>
            Comprobamos si se instalo rails
          </p>
          <div>
            <img
              src="assets/ruby-lin(3).jpg"
              alt="software"
              class="image-cont"
            />
          </div>
          <p>
            Iniciamos un nuevo proyecto en rails
          </p>
          <div>
            <img
              src="assets/ruby-lin(3).jpg"
              alt="software"
              class="image-cont"
            />
          </div>
          <p>
            Esperamos que se termine de crear...
          </p>
          <div>
            <img
              src="assets/ruby-lin(4).jpg"
              alt="software"
              class="image-cont"
            />
          </div>
          <p>
            Si la creacion del nuevo proyecto se complica tenemos que instlar
            sqlite3
          </p>
          <div>
            <img
              src="assets/ruby-lin(5).jpg"
              alt="software"
              class="image-cont"
            />
          </div>
          <p>
            Despues continuamos con la creacion del proyecto
          </p>
          <div>
            <img
              src="assets/ruby-lin(6).jpg"
              alt="software"
              class="image-cont"
            />
          </div>
          <p>
            Levantamos el servidor de nuestro proyecto con ruby
          </p>
          <div>
            <img
              src="assets/ruby-lin(7).jpg"
              alt="software"
              class="image-cont"
            />
          </div>
          <div>
            <img
              src="assets/ruby-lin(8).jpg"
              alt="software"
              class="image-cont"
            />
          </div>
          <p>
            Iniciamos el servidor y ya tenemos nuestro programa de Ruby
            levantado
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
