<div>
  <div class="image">
    <img src="assets/djangovsruby.jpeg" alt="software" class="main-imagen" />
  </div>
  <div class="row">
    <div class="col-sm-12 edicion">
      <h1>Django y Ruby en Linux Server</h1>

      <h1>Guia de Configuracion de Django y Ruby en Linux Server</h1>

      <p>
        Para poder realizar esto primero tenemos que configurar usuarios y
        grupos.
      </p>

      <div>
        <img src="assets/linux-logo.jpg" alt="" class="logo" />
      </div>

      <p>
        Una vez teniendo los grupos y los usuarios definidos podemos realizar
        este tutorial.
      </p>

      <div>
        <img src="assets/linux-server6.png" alt="software" class="image-cont" />

        <p>
          Descargamos el sistema que queremos utilizar en nuestro servidor
        </p>
        <div>
          <img
            src="assets/linux-server7.png"
            alt="software"
            class="image-cont"
          />
        </div>
        <div>
          <p>
            Podemos ver que el usuario admin tiene todos los accesos
          </p>
          <div>
            <img
              src="assets/linux-server8.png"
              alt="software"
              class="image-cont"
            />
          </div>
          <p>
            Utilizando los comandos "chmod" y "chown" para asignar usuarios y
            grupos para los accesos
          </p>
          <div>
            <img
              src="assets/linux-server9.png"
              alt="software"
              class="image-cont"
            />
          </div>
          <p>
            Asi mismo con los mismo comandos se les asigna al otro sistema
          </p>
          <div>
            <img
              src="assets/linux-server10.png"
              alt="software"
              class="image-cont"
            />
          </div>
          <p>
            Una vez asignados si tratamos de entrar con otro usuario que no es,
            nos denegara el acceso Al menos que estemos en el mismo grupo
          </p>
          <div>
            <img
              src="assets/linux-server11.png"
              alt="software"
              class="image-cont"
            />
          </div>
          <p>
            Y con eso terminamos configuramos grupos y usuarios, y el sistema de
            nuestra eleccion en nuestro servidor de linux
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
