<div>
  <div class="image">
    <img src="../../../assets/windows-10.jpg" alt="software" class="imagen" />
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>Como instalar Windows 10 en tu equipo</h1>
      <h4>Requisitos:</h4>
      <ul>
        <li>Un puerto USB disponible o libre en tu ordenador</li>
        <li>
          Un USB de al menos 8 GB
        </li>
        <li>Imagen de Windows 10</li>
        <li>Descargar Rufus, version portable o instalable</li>
      </ul>
      <h1>Pasos a seguir</h1>
      <h3>Paso 1: Crear memoria booteable con imagen de Windows 10</h3>
      <ul>
        <li>
          Conecta tu pendrive al ordenador y asegúrate de respaldar cualquier
          archivo importante en él antes de continuar, puesto que este proceso
          borrará todos los datos que contenga.
        </li>
        <li>
          Ejecuta Rufus (se recomienda descargar la version portable,
          <a
            href="https://github.com/pbatard/rufus/releases/download/v3.8/rufus-3.8p.exe"
            >click aqui para descargar</a
          >)
        </li>
        <li>
          Una vez descargado lo ejecutamos y nos mostrara esta ventana
        </li>
        <img src="../../../assets/rufus-1.jpg" alt="" />
        <li>
          Seleccionamos nuestra memoria USB en la lista que aparece arriba
        </li>
        <li>
          Damos click en el boton de Seleccionar donde se nos abrira un
          seleccionador de archivos, elegiremos la imagen iso del sistema
          operativo que vamos a bootear
        </li>
        <li>
          Si quieres descargar el ISO de Windows 10 usando Rufus haz click en la
          flecha hacia abajo junto al botón de seleccionar para cambiar a
          DESCARGA:
        </li>
        <li>
          Haz click en el botón DESCARGA y espera unos segundos a que aparezca
          una nueva ventana para seleccionar sistema operativo:
        </li>
        <li>
          Selecciona Windows 10 en este caso y haz click en Continuar. Luego
          deberás seleccionar le "emisión" o versión de Windows 10. Te
          recomiendo seleccionar la más reciente (puedes ver las fechas de
          lanzamiento junto a la versión) para evitar tener que actualizar
          Windows después. Luego haz click en "Continuar".
        </li>
        <li>
          Selecciona la edición de Windows 10, ya sea "Home/Pro" o "Education".
          Recuerda que esto dependerá del tipo de licencia que tengas. Si tienes
          dudas, selecciona siempre "Home/Pro" que son las que usan los usuarios
          individuales. Haz click en "Continuar" para elegir el idioma y luego
          la arquitectura. Elige x64 salvo que tengas un ordenador demasiado
          antiguo.
        </li>

        Finalmente, seleccionar "Descargar" y una carpeta donde
        <li>
          guardar tu ISO usando el explorador de archivos.
        </li>
        <li>
          Si se desea cambiar el nombre al dispositivo, se lo pondremos donde
          dice etiqueta de volumen, el resto de configuraciones lo dejamos como
          esta
        </li>
        <li>
          Le daremos click a Empezar para que comience el formateo y
          configuracion de la memoria USB y solo esperamos a que el proceso
          termine
        </li>
        <img src="../../../assets/rufus-2.jpg" alt="" />
        <img src="../../../assets/rufus-3.jpg" alt="" />
      </ul>

      <h1>Paso 2: Ejecutar Memoria desde la Bios del Equipo</h1>
      <ul>
        <li>
          Para eso Reiniciaremos el equipo y presionaremos la tecla
          correspondiente para arrancar la bios (generalmente las teclas son F2
          F10 o F12)
        </li>
        <img src="../../../assets/rufus-3.jpg" alt="" />
        <li>Nos aparacera una pantalla similar a esta, simplemente seleccionamos nuestra memoria usb y le damos Enter</li>
      </ul>
    </div>
  </div>
</div>
