<div>
  <div class="image">
    <img src="assets/juego (1).jpg" alt="software" class="main-imagen" />
  </div>
  <div class="row">
    <div class="col-sm-12 edicion">
      <h1>Video Juego en el Navegador</h1>
      <p>
        El juego que vamos a poder jugar en nuestro dispositivo es Asteroids:
        Asteroids es un popular videojuego de arcade basado en vectores lanzado
        en 1979 por Atari. El objetivo del juego es disparar y destruir
        asteroides evitando chocar contra los fragmentos de estos. Fue uno de
        los juegos más populares de la Época Dorada de los videojuegos arcade.
        Asteroids fue inspirado por el juego Spacewar!, el primer videojuego de
        computadora. En el año 1977, Cinematronics lanzó Space Wars, un juego
        similar, también basado en Spacewar!. Asteroids en esencialmente una
        versión de un jugador de Space Wars, caracterizado por la nave y los
        asteroides como enemigo principal.
      </p>

      <h1>Asteroids en Windows y Linux</h1>
      <div>
        <img src="assets/win-logo.jpg" alt="" class="logo" />
      </div>
      <div>
        <img src="assets/linux-logo.jpg" alt="" class="logo" />
      </div>

      <p>
        Para ver poder jugar solo necesitan descargarse el juego aqui

        <a href="https://rubyonrails.org" target="blank">Asteroids</a>
      </p>
      <div>
        <img src="assets/juego (1).jpg" alt="software" class="image-cont" />
      </div>
      <p>
        Para ir avanzando en los niveles vamos a tener que matar a todas las
        navecitas
      </p>

      <div>
        <img src="assets/juego (2).jpg" alt="software" class="image-cont" />
      </div>
      <p>
        Una vez derrotadas podran avanzar al siguiente nivel y asi hasta que
        mueran
      </p>
      <div>
        <img src="assets/juego (3).jpg" alt="software" class="image-cont" />
      </div>
      <p>
        En el lado superior izquierdo podremos observar el puntaje que llevamos
      </p>
      <div>
        <img src="assets/juego (4).jpg" alt="software" class="image-cont" />
      </div>
      <p>
        Del lado derecho podremos observar las vidas restantes del juego
      </p>
      <div>
        <img src="assets/juego (5).jpg" alt="software" class="image-cont" />
      </div>
      <p>
        Aqui aparece que ganamos y nos pregunta si deseamos volver a jugar.
      </p>
      <div>
        <img src="assets/juego (6).jpg" alt="software" class="image-cont" />
      </div>
      <p>
        De no ser asi nos saldra el siguiente mensaje
      </p>
      <div>
        <img src="assets/juego (7).jpg" alt="software" class="image-cont" />
      </div>
    </div>
  </div>
</div>
