<div>
  <div class="image">
    <img src="assets/servicios.jpg" alt="software" class="main-imagen" />
  </div>

  <div class="row">
    <div class="col-sm-12 edicion">
      <h1>Servicios</h1>

      <p>
        Los servicios a usuarios se brindan, básicamente, por medio de los
        llamados Programas del Sistema, mientras que a los programas se les
        brindan a través de las Llamadas al Sistema. Los programas del sistema
        constituyen una colección más o menos grande de programas (no funciones
        o subrutinas) suministradas por el fabricante (u otra empresa) que
        permite realizar operaciones que son comunes a diferentes usuarios,
        brindando un ambiente más adecuado para el desarrollo y explotación de
        aplicaciones. Los programas del sistema pueden ser divididos en varias
        categorías, aunque esto también depende de cada sistema operativo.
        Algunos posibles grupos serian : Manipulación de ficheros (crear,
        eliminar, renombrar, imprimir, etc.), obtención de información de estado
        (fecha, hora, memoria disponible, espacio en disco, etc.), editores de
        texto, etc. En resumen, los programas del sistema son aquellos que
        ejecutan las acciones descritas en los comandos de éste o que aparecen
        en los menús en el caso de las interfaces gráficas.
      </p>

      <h1>Servicios Windows</h1>
      <div>
        <img src="assets/win-logo.jpg" alt="" class="logo" />
      </div>

      <p>
        Para ver los servicios en windows, podemos descargar
        <a href="https://drive.google.com/open?id=1O0IYUOfMcEDnmxsYC4yZk28B1Bcj-Ce1" target="blank">este programa</a> el cual esta hecho en lenguaje C#, aqui
        podremos ver los servicios que esta ejecutando windows, en forma de
        lista o seleccionar de uno en uno
      </p>

      <div>
        <img src="assets/servicios1.jpg" alt="software" />
      </div>
      <p>Aqui podemos la lista completa de servicios</p>
      <div>
        <img src="assets/servicios2.jpg" alt="software" />
      </div>
      <p>Este es el codigo del programa</p>
      <div>
        <img src="assets/servicios3.jpg" alt="software" />
      </div>
      <h1>Servicios de Linux</h1>

      <div>
        <img src="assets/linux-logo.jpg" alt="" class="logo" />
      </div>

      <p>
        Para ver los servicios en Linux, podemos descargar
        <a href="https://drive.google.com/file/d/1XYOAD4m2PMzohSKZu4l_8td43DaGz-x0/view?usp=sharing" target="blank">este script</a>, lo unico que debemos ahcer es configurarlo
        para correrlo en terminal lo que nos mostrara es lo siguiente
      </p>
      <div>
        <img
          src="assets/servicios-lin (1).jpg"
          alt="software"
          class="service-img"
        />
      </div>
      <p>
        Esta es la lista de servicios, daemons y procesos con los que esta
        trabajando linux
      </p>
      <div>
        <img src="assets/servicios-lin (2).jpg" alt="software" class="turn" />
      </div>
      <p>Si deseas ejecutarlo en consola funciona de igual manera</p>
      <div>
        <img src="assets/servicios-lin (3).jpg" alt="software" class="turn" />
      </div>
      <p>
        El comando <a href="">services --status-all</a> te muestra todos los servicios
        en la consola, tu puedes filtrarlos por los que estan activos, si
        quieres eliminar alguno, o si quieres ejecutar uno nuevo
      </p>
      <div>
        <img
          src="assets/servicios-lin (4).jpg"
          alt="software"
          class="service-img"
        />
      </div>
      <p>
        Primera parte de servicios y procesos
      </p>
      <div>
        <img
          src="assets/servicios-lin (5).jpg"
          alt="software"
          class="service-img"
        />
      </div>
      <p>
        Todos estos son listas de procesos, servvicios y daemons que se pueden
        encontrar en linux, estan los que se estan ejecutando, los que estan en
        stand by y los que no se ejecutan, pueden cambiar de status dependiendo
        la orden que le quieras dar
      </p>
      <div>
        <img
          src="assets/servicios-lin (6).jpg"
          alt="software"
          class="service-img"
        />
      </div>
      <p>
        Este comando de aqui sirve tanto en consola como un programa ejecutable,
        solo hay que guardarlo en un arhcivo de texto y agregarle la terminacion
        .sh
      </p>
    </div>
  </div>
</div>
