<div>
  <div class="image">
    <img src="assets/servicios.jpg" alt="software" class="main-imagen" />
  </div>

  <div class="row">
    <div class="col-sm-12 edicion">
      <h1>Servicios</h1>

      <p>
        Los servicios a usuarios se brindan, básicamente, por medio de los
        llamados Programas del Sistema, mientras que a los programas se les
        brindan a través de las Llamadas al Sistema. Los programas del sistema
        constituyen una colección más o menos grande de programas (no funciones
        o subrutinas) suministradas por el fabricante (u otra empresa) que
        permite realizar operaciones que son comunes a diferentes usuarios,
        brindando un ambiente más adecuado para el desarrollo y explotación de
        aplicaciones. Los programas del sistema pueden ser divididos en varias
        categorías, aunque esto también depende de cada sistema operativo.
        Algunos posibles grupos serian : Manipulación de ficheros (crear,
        eliminar, renombrar, imprimir, etc.), obtención de información de estado
        (fecha, hora, memoria disponible, espacio en disco, etc.), editores de
        texto, etc. En resumen, los programas del sistema son aquellos que
        ejecutan las acciones descritas en los comandos de éste o que aparecen
        en los menús en el caso de las interfaces gráficas.
      </p>

      <h1>Servicios Windows</h1>
      <div>
        <img src="assets/win-logo.jpg" alt="" class="logo" />
      </div>

      <p>
        Para ver los servicios en windows, podemos descargar
        <a href="">este programa</a> el cual esta hecho en lenguaje C#, aqui
        podremos ver los servicios que esta ejecutando windows, en forma de
        lista o seleccionar de uno en uno
      </p>

      <div>
        <img src="assets/servicios1.jpg" alt="software" />
      </div>
      <p>Aqui podemos la lista completa de servicios</p>
      <div>
        <img src="assets/servicios2.jpg" alt="software" />
      </div>
      <p>Este es el codigo del programa</p>
      <div>
        <img src="assets/servicios3.jpg" alt="software" />
      </div>
      <h1>Servicios de Linux</h1>

      <div>
        <img src="assets/linux-logo.jpg" alt="" class="logo" />
      </div>

      <p>
        Para ver los servicios en Linux, podemos descargar
        <a href="">este programa</a> el cual esta hecho en lenguaje C++, aqui
        podremos ver los servicios que esta ejecutando ubuntu, en forma de
        lista, tambien podremos interactuar con ellos de diferentes formas, ya
        sea eliminando uno o mas servicios, o creando nuevos.
      </p>

      <div>
        <img src="assets/servicios1.jpg" alt="software" />
      </div>
      <p>Aqui podemos la lista completa de servicios</p>
      <div>
        <img src="assets/servicios2.jpg" alt="software" />
      </div>
      <p>Este es el codigo del programa</p>
      <div>
        <img src="assets/servicios3.jpg" alt="software" />
      </div>
    </div>
  </div>
</div>
