    <div class="dropdown menu">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Menu
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">{{menu[0]}}</a>
        <a class="dropdown-item" href="#">Linux</a>
        <a class="dropdown-item" href="#">Algo mas</a>
      </div>
    </div>
