<div class="image">
<img src="assets/laravel-logo.png" alt="software" class="main-imagen" />
</div>
<div class="row">
  <div class="col-sm-12 edicion">
    <h1>Laravel</h1>
    <p>
      Laravel es un framework de código abierto para desarrollar aplicaciones y
      servicios web con PHP 5 y PHP 7. Su filosofía es desarrollar código PHP de
      forma elegante y simple, evitando el "código espagueti". Fue creado en
      2011 y tiene una gran influencia de frameworks como Ruby on Rails, Sinatra
      y ASP.NET MVC. Laravel tiene como objetivo ser un framework que permita el
      uso de una sintaxis elegante y expresiva para crear código de forma
      sencilla y permitiendo multitud de funcionalidades. Intenta aprovechar lo
      mejor de otros frameworks y aprovechar las características de las últimas
      versiones de PHP. Gran parte de Laravel está formado por dependencias,
      especialmente de Symfony, esto implica que el desarrollo de Laravel
      dependa también del desarrollo de sus dependencias.
    </p>
    <h1>Caracteristicas Principales</h1>
    Las características de Laravel son:
    <li>Sistema de ruteo, también RESTful.</li>
    <li>
      Blade, Motor de plantillas.
    </li>
    <li>Peticiones Fluent.</li>
    <li>
      Eloquent ORM.
    </li>
    <li>
      Basado en Composer.
    </li>
    <li>
      Soporte para el caché.
    </li>
    <li>
      Soporte para MVC.
    </li>
    <li>
      Usa componentes de Symfony.
    </li>
    <li>
      Adopta las especificaciones PSR-2​ y PSR-4.
    </li>
    <li>
      Documentación incorporada accesible a través de la aplicación
      administrativa (incluyendo documentación generada automáticamente de los
      modelos y las bibliotecas de plantillas añadidas por las aplicaciones).
    </li>
    Laravel también es una plataforma habitual que brinda multiples herramientas
    <h1>Laravel Windows</h1>
    <div>
      <img src="assets/win-logo.jpg" alt="" class="logo" />
    </div>

    <p>
      Para ver poder instalar Laravel, debemos abrir nuestro navegador y
      buscamos Laravel en nuestro servicio de busqueda preferida, ya sea Google,
      Yahoo, Bing, etc, yo les proporciono el link aqui:

      <a href="https://laravel.com" target="blank">Laravel</a>
    </p>
    <div>
      <img src="assets/laravel-linux (1).png" alt="software" />
    </div>
    <p>
      Tambien vamos a tener que descargar composer, aqui les dejo el link
      <a href="https://getcomposer.org" target="blank">Composer</a>
    </p>

    <div>
      <img src="assets/laravel-linux (2).png" alt="software" />
    </div>
    <p>
      Simplemente descargamos el instalador de composer, el cual sera la forma
      mas sencilla de trabajar con laravel
    </p>
    <div>
      <img src="assets/laravel-linux (10).jpg" alt="software" />
    </div>
    <p>
      Le damos siguiente al instalador y comenzara la instalacion de nuestro
      programa
    </p>
    <div>
      <img src="assets/laravel-linux (11).jpg" alt="software" />
    </div>
    <p>
      Aqui podemos ver como comienza la instalacion pero una vez que termine
      podremos acceder al siguiente paso
    </p>
    <div>
      <img src="assets/laravel-linux (12).jpg" alt="software" />
    </div>
    <p>
      Despues de que se instale tendremos esta consola
    </p>
    <div>
      <img src="assets/laravel-linux (13).jpg" alt="software" />
    </div>
    <p>
     Simplemente utilizamos este comando para instalar Laravel: composer
      global require laravel/installer 
      Y listo ya tenemos Laravel en nuestro sistema
    </p>

    <h1>Laravel en Linux</h1>

    <div>
      <img src="assets/laravel-linux (1).png" alt="software" />
    </div>

    <p>
      Para instalar Laravel en linux usaremos la forma mas sencilla: y de la
      misma forma que en windows abrimos la pagina de Laravel
    </p>
    <div>
      <img src="assets/laravel-linux (2).png" alt="software" />

      <p>
        Tambien tendremos que bajar composer de la misma forma que en windows
      </p>
      <div>
      <img src="assets/laravel-linux (3).png" alt="software" />
      </div>
      <div>
        <p>
          Procederemos a instalar PHP, para eso tendremos que usar el siguiente comando 
          sudo apt install php
        </p>
        <div>
      <img src="assets/laravel-linux (4).png" alt="software" />
        </div>
        <p>
          Ahora si proseguiremos a instalar composer con el siguiente comando:
          curl -sS "https://getcomposer.org/installer | php"
          Luego: sudo mv ~/composer.phar /usr/local/bin/composer
          Finalmente sudo apt install composer
        </p>
        <div>
      <img src="assets/laravel-linux (5).png" alt="software" />
        </div>
        <p>
          Ahora simplemente verificamos que composer este instalado poniendolo en la consola
        </p>
        <div>
      <img src="assets/laravel-linux (6).png" alt="software" />
        </div>
        <p>
          Ahora instalaremos laravel, para eso tenemos que usar los siguientes comandos:
          composer global require laravel/installer
        </p>
        <div>
      <img src="assets/laravel-linux (7).png" alt="software" />
        </div>
        <p>
          Ahora simplemente creamos un proyecto y levanatamos el servidor de la siguiente forma:
          composer create-project --prefer-dist laravel/laravel blog
        </p>
        <div>
      <img src="assets/laravel-linux (8).png" alt="software" />
        </div>
        <p>
          Ahora accedemos a la carpeta y levantamos el servidor 
        </p>
        <div>
      <img src="assets/laravel-linux (9).png" alt="software" />
        </div>
        <p>
          Listo ya podemos trabajar con Laravel
        </p>
      </div>
    </div>
  </div>
</div>
