<div>
  <div class="image">
    <img src="assets/samba-logo.png" alt="software" class="main-imagen" />
  </div>
  <div class="row">
    <div class="col-sm-12 edicion">
      <h1>Samba</h1>
      <p>
        Samba es una implementación libre del protocolo de archivos compartidos
        de Microsoft Windows (antiguamente llamado SMB, renombrado recientemente
        a CIFS) para sistemas de tipo UNIX. De esta forma, es posible que
        computadoras con GNU/Linux, Mac OS X o Unix en general se vean como
        servidores o actúen como clientes en redes de Windows. Samba también
        permite validar usuarios haciendo de Controlador Principal de Dominio
        (PDC), como miembro de dominio e incluso como un dominio Active
        Directory para redes basadas en Windows; aparte de ser capaz de servir
        colas de impresión, directorios compartidos y autentificar con su propio
        archivo de usuarios. Entre los sistemas tipo Unix en los que se puede
        ejecutar Samba, están las distribuciones GNU/Linux, Solaris y las
        diferentes variantes BSD entre las que podemos encontrar el Mac OS X
        Server de Apple.
      </p>
      <h1>Caracteristicas Principales</h1>
      <p>
        Samba es una implementación de servicios y protocolos, entre los que
        están: NetBIOS sobre TCP/IP (NetBT), SMB (también conocido como CIFS),
        DCE/RPC o más concretamente, MSRPC, el servidor WINS también conocido
        como el servidor de nombres NetBIOS (NBNS), la suite de protocolos del
        dominio NT, con su Logon de entrada a dominio, la base de datos del
        gestor de cuentas seguras (SAM), el servicio Local Security Authority
        (LSA) o autoridad de seguridad local, el servicio de impresoras de NT y
        recientemente el Logon de entrada de Active Directory, que incluye una
        versión modificada de Kerberos y una versión modificada de LDAP. Todos
        estos servicios y protocolos son frecuentemente referidos de un modo
        incorrecto como NetBIOS o SMB. A partir de la versión 4.10.0 ofrece
        soporte completo para Python 3 y aunque mantiene compatibilidad con
        Python 2, esta debe ser configurada de manera explícita;1​2​ sin
        embargo, a futuro, dicho soporte a Python 2 será retirado.
      </p>

      <h1>Samba</h1>

      <p>
        Para ver poder instalar Samba, debemos abrir una terminal en nuestro
        sistema Linux
      </p>
      <div>
        <img src="assets/samba1.png" alt="software" class="image-cont" />
      </div>
      <p>
        Comprobamos la version y si se instalo correctamente
      </p>

      <div>
        <img src="assets/samba2.png" alt="software" class="image-cont" />
      </div>
      <p>
        Vemos si el servicio esta activo
      </p>
      <div>
        <img src="assets/samba3.png" alt="software" class="image-cont" />
      </div>

      <p>
        Corremos samba con este comando "sudo system-config-samba"
      </p>
      <div>
        <img src="assets/samba4.png" alt="software" class="image-cont" />
      </div>
      <p>
        En esta pantalla podremos ver las descripcion del programa, y
        simplemente pasamos a la seccion de descarga
      </p>

      <div>
        <img src="assets/samba5.png" alt="software" class="image-cont" />
      </div>
      <p>
        Verificamos el workgroup de las otras maquinas
      </p>

      <div>
        <img src="assets/samba6.png" alt="software" class="image-cont" />

        <p>
          Nos vamos a server settings y configuramos el workgroup general
        </p>
        <div>
          <img src="assets/samba7.png" alt="software" class="image-cont" />
        </div>
        <div>
          <p>
            Despues configuramos la carpeta a compartir
          </p>
          <div>
            <img src="assets/samba8.png" alt="software" class="image-cont" />
          </div>
          <p>
            Le damos acceso a todos
          </p>
          <div>
            <img src="assets/samba9.png" alt="software" class="image-cont" />
          </div>
          <p>
            Asi quedaria la ruta a compartir
          </p>
          <div>
            <img src="assets/samba10.png" alt="software" class="image-cont" />
          </div>
          <p>
            Podemos ver que se a compartido de manera exitosa
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
